@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h4>Add a new task</h4><hr>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new {@class = "form-control", placeholder = "Description", required="required"})

    @Html.LabelFor(model => model.Date)
    @Html.TextBoxFor(model => model.Date, new {@type = "date", @class="form-control"}) 
    <!-- didn't need to change angything here, but updated details and index of items-->
    
    
    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

@*
https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.html.inputextensions.textboxfor?view=aspnet-mvc-5.2



public static System.Web.Mvc.MvcHtmlString TextBoxFor<TModel,TProperty> (this System.Web.Mvc.HtmlHelper<TModel> htmlHelper, System.Linq.Expressions.Expression<Func<TModel,TProperty>> expression, string format); *@